
html, body{
	height: 100%;
	margin:0;
	padding: 0;
}
.container-login{
	height: 94%;
}

.bg{
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background-color: #E5C49B;
    color: #fff;
    opacity: 0.95;
}
.bg-login{
	background:url(../images/IMG-20180726-WA0003.jpg) center;
	min-height: 600px;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  color: #232323;
}
.login-form form {
   margin-bottom: 15px;
  /* background: #f7f7f7;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
   padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.sidenav .nav li{
    width: 100%;
    margin-top:10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 8px;
}
.navbar-nav{
    display: inline-block;
}
.navbar-nav li{
    display: inline-block;
}
.navbar-header{
    display: inline-block;

}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  border-top:1px solid #999;
  padding: 5px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;} 
}